# Google Sheet target
# Get this from the sheet URL: https://docs.google.com/spreadsheets/d/$FILOZ_SHEET_ID/edit
FILOZ_SHEET_ID=
FILOZ_TRACKING_SHEET_NAME=Tracking

# Path to Google Service Account JSON (Editor access to the sheet must be granted for this account)
GOOGLE_APPLICATION_CREDENTIALS=path/to/your-service-account.json
